<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a th:href="@{/teams}" class="navbar-brand">Meeting Planner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a th:href="@{/teams}" class="nav-link">Teams</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a th:href="@{/user/changeFullName}" class="dropdown-item">Change Full Name</a>
                            </li>
                            <li>
                                <a th:href="@{/user/changeEmail}" class="dropdown-item">Change Email</a>
                            </li>
                            <li>
                                <a th:href="@{/user/changePassword}" class="dropdown-item">Change Password</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li>
                                <form th:action="@{/user/deleteAccount}" method="POST">
                                    <button type="submit" class="dropdown-item">Delete Account</button>
                                </form>
                            </li>
                            <li>
                                <form th:action="@{/auth/logout}" method="POST">
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>