<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Respond to the invitation</h3>
                            </div>
                        </div>
                        <form th:action="@{/invitations/respond}" th:object="${form}" method="POST" autocomplete="off">
                            <div class="alert alert-info mb-5" role="alert">
                                <span>Your response cannot be undone!</span>
                            </div>
                            <input th:field="*{meetingId}" type="hidden"/>
                            <input th:field="*{userId}" type="hidden"/>
                            <div class="form-group mt-4">
                                <select th:field="*{status}" id="statusSelect" class="form-control" required>
                                    <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.toString()}"></option>
                                </select>
                                <label class="form-control-placeholder">Invitation status</label>
                            </div>
                            <div class="form-group mt-5" id="suggestedTimeDiv">
                                <input th:field="*{suggestedTime}" id="suggestedTime" type="datetime-local" class="form-control"
                                       placeholder="Suggested time" required>
                                <label class="form-control-placeholder">Suggested time</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="submitBtn" class="form-control btn btn-primary rounded submit px-3">Submit</button>
                            </div>
                            <div class="form-group">
                                <a th:href="@{/invitations(meetingId=*{meetingId})}" class="form-control btn btn-danger rounded px-3">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const suggestedTimeInput = document.getElementById('suggestedTime');
        const suggestedTimeDiv = document.getElementById('suggestedTimeDiv');
        const statusSelect = document.getElementById('statusSelect');

        function setMinDatetime() {
            const now = new Date();
            now.setUTCHours(0, 0, 0, 0);

            suggestedTimeInput.min = now.toISOString().slice(0, 16);
        }

        function toggleSuggestedTime() {
            if (statusSelect.value === 'REJECTED') {
                suggestedTimeDiv.style.display = 'block';
                suggestedTimeInput.required = true;
            } else {
                suggestedTimeDiv.style.display = 'none';
                suggestedTimeInput.required = false;
            }
        }

        statusSelect.addEventListener('change', toggleSuggestedTime);

        setMinDatetime();
        toggleSuggestedTime();
    });
</script>
</body>
</html>